<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    
    <div class="container" style=" text-align: center">
        {% include 'navbar.html' %}
    <h1>
        We offer wide variety of services
    </h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dolores tenetur ipsam, dolor adipisci iusto necessitatibus, 
        odit delectus possimus nulla ratione, ullam dolorem quibusdam quaerat provident itaque nesciunt.
         Ipsum quasi velit ad molestias, eius dolor autem enim ea voluptate quos ratione necessitatibus ex quam placeat? 
         Quidem in quasi ea quae?
    </p>
    <button>Contact Us</button>

    </div>
</body>
</html>